.panel-menu-label {
    color: white;
    font-size: 14px;
    padding-right: 8px;
}

.round-button {
    border-radius: 50%;
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-size: 16px; /* Increase font size */
    text-align: center;
    cursor: pointer;
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    margin: 5px; /* Margin around the button */
    border: none; /* Remove border */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.control-buttons-outer {
    justify-content: center;
    align-items: center;
}

.control-buttons {
    justify-content: center;
    align-items: center;
}



